* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem #e67e22;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: #555;
  line-height: 1;
  font-family: sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2ed;
  height: 8rem;
  padding: 0 4.8rem;
  position: relative;
}


.logo-img {
  width: 14rem;
  /* display: inline-block; */
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 2.2rem;
  align-items: center;
}

.main-nav-list:visited,
.main-nav-list:link {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  color: #333;
  transition: 0.3s;
}

.main-nav-list:active,
.main-nav-list:hover {
  color: #cf711f;
}

.main-nav-list.last-nav:link,
.main-nav-list.last-nav:visited {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 9px;
  font-weight: 600;
  background-color: #e67e22;
  color: #fff;
}

.main-nav-list.last-nav:hover,
.main-nav-list.last-nav:active {
  background-color: #cf711f;
}

.hero-section {
  background-color: #fdf2ed;
  padding: 4.8rem 2.4rem 9.6rem 2.4rem;
  /* padding: 0 ; */
  /* height: 100%; */
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 4.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;

}

.hero-img {
  width: 100%;
}


.heading-primary {
  line-height: 1.1;
  margin-bottom: 2.4rem;
  font-size: 4.2rem;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}

.heading-secondary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 8rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  font-size: 1.4rem;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.5s;
}

.btn-one:link,
.btn-one:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn-one:hover,
.btn-one:active {
  background-color: #cf711f;
}

.btn-two:link,
.btn-two:visited {
  color: #555;
  background-color: #fff;
}

.btn-two:hover,
.btn-two:active {
  background-color: #fdf2ed;

  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right {
  margin-right: 1.2rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-top: 5.5rem;

}

.delivered-img {
  display: flex;
}

.delivered-img img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-left: -1.6rem;
  border: 3px solid #fdf2ed;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

.section-how {
  padding: 9.6rem 0;
  /* background-color: aqua; */
}

.container {
  max-width: 100rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid-center-verticle {
  align-items: center;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* .grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
} */

.step-number {
  font-weight: 600;
  font-size: 5rem;
  color: #eee;
  margin-bottom: 1.6rem;
}

.h3-heading {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-weight: 600;
}

.part2-description {
  font-size: 1.6rem;
  line-height: 1.5;
}

.step-img {
  width: 40%;
  /* z-index: 10; */
}

.part2-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.part2-img::after,
.part2-img::before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.part2-img::before {
  background-color: #fdf2ed;
  width: 65%;
  padding-bottom: 65%;
  z-index: -1;
}

.part2-img::after {
  width: 55%;
  padding-bottom: 55%;
  background-color: #fae5d3;
  z-index: -1;
}

/* ********Featured in section******** */
.featured-in-section {
  padding: 4.8rem 0;
}

.logos {
  display: flex;
  justify-content: space-between;

}

.logos img {
  height: 3rem;
  filter: grayscale(100%);
}

.featured-text {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.meals-section {
  padding: 9.6rem 0;
  /* background-color: aqua; */
}

.meal-title {
  font-size: 2.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.meal-attribute {
  font-size: 1.8rem;
}

.meal-img {
  width: 100%;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.p-tag {
  background-color: yellow;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tags2 {
  display: flex;
  gap: 1rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
}

.meals {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s;
}

.meals:hover {
  transform: translateY(-1.2rem);
  box-sizing: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3rem 3.8rem 3.8rem 3.8rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-item {
  font-size: 1.5rem;
  font-weight: 600;
}

.diet {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.heading-territory {
  font-size: 2.6rem;
  font-weight: 600;
}

.all-recipes {
  text-align: center;
  font-size: 1.6rem;
}

.link:link,
.link:visited {
  color: #e67e22;
  text-decoration: none;
  padding: 2px;
  border-bottom: currentColor solid 1.5px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

.testimonial-section {
  background-color: #fdf2ed;
  display: grid;
  grid-template-columns: 55fr 45fr;
}

.testimonials-container {
  padding: 6.4rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.8rem;
  font-weight: 600;
}

.testimonial-author {
  color: #6f6f6f;
  font-size: 1.6rem;
}

.gallery-imgs img {
  width: 100%;
  display: block;
  transition: all 0.4s ease;
}

.gallery-imgs {
  overflow: hidden;

}

.gallery-imgs img:hover {
  transform: scale(1.1);
}

.gallery {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 1.6rem; */
  padding: 1.6rem;
}

.pricing-section {
  padding: 9.6rem 0;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.6rem;
}

.plan-name {
  color: #e67e22;
  font-weight: 600;
  letter-spacing: 0.75;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.plan-price {
  font-size: 7.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.2rem;
}

.plan-price span {
  font-size: 2.8rem;
  /* font-weight: 500; */
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
}

.pricing-plan-started {
  justify-self: end;
  padding: 4.6rem;
  border: solid 3px #fdf2ed;
}

.pricing-plan-complete {
  background-color: #fdf2ed;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan-complete:after {
  content: "Best-Value";
  position: absolute;
  top: 5%;
  right: -16%;
  transform: rotate(45deg);
  font-size: 1.4rem;
  font-weight: 700;
  background-color: orange;
  padding: 0.8rem 5rem;
  /* border-radius: 2rem; */
  text-transform: uppercase;
}

.feature-title {
  color: #333;
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/* CTA Section */
.section-cta {
  padding: 9rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #f5a056, #e67e22);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  padding: 0;
}

.cta-img-box {
  background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)),
    url(img/eating.jpg);
  background-size: cover;
  background-position: center;
}

.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}


.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;

}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.6rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 11px;
  background-color: #fdf2ed;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: #45260a;
  color: white;
  align-self: end;
  transition: 0.5s;
}

.btn:hover {
  background-color: white;
  color: #45260a;
}

.footer {
  padding: 9.6rem 0;
}


.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}


.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.8rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.nav-col ul li a:link,
.nav-col ul li a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
}

.nav-col ul li a:hover,
.nav-col ul li a:active {
  color: #555;
}

.copy-right,
.contact {
  font-size: 1.6rem;
  color: #767676;
  line-height: 1.3;
}

.copy-right {
  margin-top: 2.8rem;
}

.contact {
  display: grid;
  gap: 1.8rem;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  font-size: 4.8rem;
  color: #333;
  display: none;

}

.close-mobile-nav {
  font-size: 4.8rem;
  color: #333;
  display: none;
}

.nav-open .btn-mobile-nav .close-mobile-nav {
  display: none;
}

.sticky .header {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 8rem;
  z-index: 9999;
  background-color: white;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  opacity: 80%;
}

.sticky .hero-section {
  margin-top: 9.6rem;
}

